In [1]:
import pandas as pd

In [2]:
world1_path=r'..\23-Final-Project\world_data1.csv'

In [3]:
world1 = pd.read_csv(world1_path, low_memory=False, encoding="utf-8")
world1

,Country,Mean Assistance (2011-2016),Mean CO2 (2011-2016),Mean Employment (2011-2016),Mean GDP (2011-2016)
0,Afghanistan,5.308612e+09,9703.495000,16.351667,1961.268333
1,Albania,2.976650e+08,4953.505000,18.136667,11050.331670
2,Algeria,1.533983e+08,139031.861700,30.910000,12750.568330
3,Angola,2.573450e+08,35430.556670,7.741667,7404.383333
4,Antigua and Barbuda,3.886667e+06,532.325000,0.000000,19435.211670
...,...,...,...,...,...
194,Vietnam,3.636665e+09,165060.838300,22.100000,5557.580000
195,West Bank and Gaza,2.300815e+09,2661.020000,27.946667,5482.028333
196,"Yemen, Rep.",1.245327e+09,18875.270000,14.271666,3595.601667
197,Zambia,9.828650e+08,4122.318333,10.260000,3449.990000
198,Zimbabwe,7.924700e+08,10780.370000,7.871667,2522.828333

In [4]:
world1_df = pd.DataFrame(world1, columns = ['Country', 'Mean Assistance (2011-2016)', 'Mean CO2 (2011-2016)', 'Mean Employment (2011-2016)', 'Mean GDP (2011-2016)']) 
                  
# splitting the dataframe into 2 parts 
# on basis of 'Mean Assistance (2011-2016)' column values 
# using Relational operator 
world2_df = world1_df[world1_df['Mean Assistance (2011-2016)'] == 0 ] 
  
# printing world2_df 
world2_df

,Country,Mean Assistance (2011-2016),Mean CO2 (2011-2016),Mean Employment (2011-2016),Mean GDP (2011-2016)
7,Aruba,0.0,1.227837e+03,0.000000,35823.64333
8,Australia,0.0,3.758033e+05,20.171667,45200.45333
9,Austria,0.0,6.192218e+04,25.848333,48363.62833
11,"Bahamas, The",0.0,2.121972e+03,15.440000,32723.91667
12,Bahrain,0.0,3.062740e+04,35.171666,48499.05667
14,Barbados,0.0,1.372070e+03,19.025000,15597.91667
16,Belgium,0.0,9.706732e+04,21.795000,44438.70667
19,Bermuda,0.0,5.231583e+02,0.000000,70576.10333
25,Brunei Darussalam,0.0,8.492772e+03,18.346666,76030.08667
26,Bulgaria,0.0,4.376503e+04,30.463333,17404.63500
32,Canada,0.0,5.324374e+05,20.141667,44175.86167
33,Cayman Islands,0.0,5.512700e+02,0.000000,63864.66333
44,Croatia,0.0,1.787785e+04,27.358333,22289.31833
45,Curacao,0.0,5.776258e+03,0.000000,25766.49333
46,Cyprus,0.0,6.519927e+03,18.071666,32112.87500
47,Czech Republic,0.0,1.020978e+05,38.036666,31928.94833
48,Denmark,0.0,3.501435e+04,19.548333,47476.16667
57,Estonia,0.0,1.761688e+04,30.721667,28118.77333
61,Finland,0.0,4.809148e+04,22.400000,42078.77167
62,France,0.0,3.256012e+05,21.053333,39760.37500
68,Greece,0.0,7.073154e+04,15.826667,26513.93167
76,"Hong Kong SAR, China",0.0,4.382310e+04,12.148333,54435.98333
77,Hungary,0.0,4.456628e+04,30.300000,25172.74000
78,Iceland,0.0,1.948400e+03,18.190000,45739.66000
83,Ireland,0.0,3.562002e+04,17.603333,55173.94333
84,Israel,0.0,6.749236e+04,17.636667,33977.59667
85,Italy,0.0,3.582980e+05,27.090000,37070.03667
87,Japan,0.0,1.195179e+06,25.103333,38578.69333
93,"Korea, Rep.",0.0,5.951132e+05,25.433333,35525.09000
95,Kuwait,0.0,9.368085e+04,23.363333,66819.22500
98,Latvia,0.0,7.062642e+03,23.653333,23262.48333
103,Liechtenstein,0.0,5.195167e+01,0.000000,0.00000
104,Lithuania,0.0,1.319081e+04,25.016666,27042.36000
105,Luxembourg,0.0,9.907013e+03,12.270000,99149.86333
106,"Macao SAR, China",0.0,1.644038e+03,13.905000,132399.02670
112,Malta,0.0,2.147640e+03,21.475000,33834.60833
127,Netherlands,0.0,1.722084e+05,16.673333,49153.81167
128,New Zealand,0.0,3.383235e+04,20.315000,36115.75333
133,Norway,0.0,4.521411e+04,20.138333,63265.71500
134,Oman,0.0,6.096571e+04,34.376667,38112.86000
142,Poland,0.0,2.983227e+05,30.693334,25300.09500
143,Portugal,0.0,4.695349e+04,24.736667,28525.77667
144,Qatar,0.0,9.611940e+04,53.210000,120727.13830
145,Romania,0.0,7.473346e+04,28.721666,20513.80000
146,Russian Federation,0.0,1.746217e+06,27.491667,24524.73000
150,Saudi Arabia,0.0,5.695627e+05,23.211667,53204.49833
155,Singapore,0.0,5.141623e+04,18.883333,84317.19333
156,Sint Maarten (Dutch part),0.0,7.150683e+02,0.000000,36315.19167
157,Slovak Republic,0.0,3.246762e+04,36.480001,28271.38167
158,Slovenia,0.0,1.356179e+04,31.628333,30730.36833
163,Spain,0.0,2.501395e+05,20.190000,33622.86167
170,Sweden,0.0,4.475757e+04,18.971667,47178.57500
171,Switzerland,0.0,3.688330e+04,21.385001,60948.78500
179,Trinidad and Tobago,0.0,4.588028e+04,28.213333,29081.69000
183,Turks and Caicos Islands,0.0,1.955733e+02,0.000000,22201.40667
187,United Arab Emirates,0.0,2.065609e+05,34.910000,68275.48333
188,United Kingdom,0.0,4.292413e+05,18.870000,40564.01500
189,United States,0.0,5.146839e+06,19.836667,54078.46667

In [5]:
world2_df.to_csv('countries_0.csv', encoding='utf-8')

In [6]:
world3_df = world1_df[world1_df['Mean Assistance (2011-2016)'] >= 1 ] 
world3_df

,Country,Mean Assistance (2011-2016),Mean CO2 (2011-2016),Mean Employment (2011-2016),Mean GDP (2011-2016)
0,Afghanistan,5.308612e+09,9703.495000,16.351667,1961.268333
1,Albania,2.976650e+08,4953.505000,18.136667,11050.331670
2,Algeria,1.533983e+08,139031.861700,30.910000,12750.568330
3,Angola,2.573450e+08,35430.556670,7.741667,7404.383333
4,Antigua and Barbuda,3.886667e+06,532.325000,0.000000,19435.211670
...,...,...,...,...,...
194,Vietnam,3.636665e+09,165060.838300,22.100000,5557.580000
195,West Bank and Gaza,2.300815e+09,2661.020000,27.946667,5482.028333
196,"Yemen, Rep.",1.245327e+09,18875.270000,14.271666,3595.601667
197,Zambia,9.828650e+08,4122.318333,10.260000,3449.990000
198,Zimbabwe,7.924700e+08,10780.370000,7.871667,2522.828333

In [7]:
world3_df.to_csv('countries_assistance.csv', encoding='utf-8')